<!--navbar start-->
<nav class="dropdown-menu main" role="navigation">
  <ul>
    <li><a href="#" aria-haspopup="true">Treatments Available ></a>
      <ul class="dropdown" aria-label="submenu">
        <li><a href="#acupuncture">Acupuncture</a></li>
        <li><a href="#cosmetic_acupuncture">Cosmetic Acupuncture</a></li>
        <li><a href="#tcm">Traditional Chinese Medicine</a></li>
        <li><a href="#cst">Craniosacral Therapy (tm)</a></li>
        <li><a href="#ttm">Traditional Thai Massage</a></li>
        <li><a href=""></a></li>
      </ul>
    </li>
    <li><a href="#morningstar">Morningstar Skin Products</a></li>
    <li><a href="#contact">Contact</a></li>
    <!--<li><a href=""></a></li>-->
  </ul>
</nav>

<!--navbar end-->
