<!--navbar start-->
<nav class="main">
  <ul>
    <li><a href="#acupuncture">Treatments ></a>
      <ul class="sub-menu">
        <li><a href="">Acupuncture</a></li>
        <li><a href="">Cosmetic Acupuncture</a></li>
        <li><a href="">Traditional Chinese Medicine</a></li>
        <li><a href="">Craniosacral Therapy (tm)</a></li>
        <li><a href="">Traditional Thai Massage</a></li>
        <li><a href=""></a></li>
      </ul>
    </li>
    <li><a href="#morningstar">Morningstar Skin Products</a></li>
    <li><a href="#contact">Contact</a></li>
    <!--<li><a href=""></a></li>-->
  </ul>
</nav>


<!--navbar end-->
